@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Check our website! <a href="https://epact.be/" target="_blank">click to ePact site.</a></p>
</div>
